html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    background-color: #41B3A3;
}

a {
    color: blue;
}

.Box {
    height: 100%;
    overflow: auto;
    text-align: left;
    text-align: left;
    border: 1px solid black;
    padding: 0 10px;
    margin: 50px auto;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
}
