.FollowersCounter {
    display: inline-block;
    margin-top: 5px;
	display: inline-block;
    border: 1px solid black;
    min-width: 10px;
    min-height: 22px;
    background-color: aliceblue;
    border-radius: 3px;
}
.FollowersCounter .FollowersIcon{
    display: inline-block;
}
